.content {
  margin: 20px auto;
  width: 80%;
}

.photo-img {
  width: 350px;
  height: fit-content;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.photo-img:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.result-content {
  display: flex;
  flex-direction: row;
}

.photo-result-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 25px;
  width: 50%;
}
.photo-result-content img {
  padding: 20px;
}

.car-result-content {
  padding: 25px;
  width: 50%;
}

.popup {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.popup__img {
  max-height: 80%;
  max-width: 80%;
}

button.close-popup {
  font-size: 60px;
  background: none;
  border: none;
  color: rgb(235, 235, 235);
  border-radius: 50px;
  position: fixed;
  top: 10px;
  right: 60px;
}

@media screen and (max-width: 769px) {
  .car-result-content {
    padding: 20px 5px;
    width: 100%;
  }
  .photo-result-content {
    width: 100%;
  }
  .photo-result-content img {
    width: 100%;
  }
  .result-content {
    display: flex;
    flex-direction: column;
  }
}
