.content {
  margin: 20px auto;
  width: 80%;
}

.photo-img {
  width: 350px;
  height: auto;
}

.result-content {
  display: flex;
  flex-direction: row;
}

.photo-result-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 0 25px;
}
.photo-result-content img {
  padding: 20px;
}

.car-result-content {
  width: 50%;
  padding: 0 25px;
}

.even {
  background-color: rgba(100, 100, 100, 0.3);
}
