.content {
  margin: 20px auto;
  width: 80%;
}

.photo-img {
  width: 350px;
  height: fit-content;
}

.result-content {
  display: flex;
  flex-direction: row;
}

.photo-result-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 25px;
  width: 50%;
}
.photo-result-content img {
  padding: 20px;
}

.car-result-content {
  padding: 25px;
  width: 50%;
}

@media screen and (max-width: 769px) {
  .car-result-content {
    padding: 20px 5px;
    width: 100%;
  }
  .photo-result-content {
    width: 100%;
  }
  .photo-result-content img {
    width: 100%;
  }
  .result-content {
    display: flex;
    flex-direction: column;
  }
}
