.header {
  align-items: center;
  background-color: red;
  display: flex;
  flex-direction: row;
  height: 65px;
  justify-content: space-between;
  padding: 0 40px 0 40px;
  width: 100%;
}

.btn-link {
  color: #fff !important;
}
@media screen and (max-width: 769px) {
  .header {
    padding: 0 10px 0 0px;
  }
}
