.cointainer {
  margin: 40px 60px;
}

.page-title {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  width: 100%;
}

.search-form {
  align-items: center;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

select,
input {
  padding: 10px 20px;
  width: 100%;
}

.first_col,
.second_col {
  margin: 20px 40px;
  width: 40%;
}

@media screen and (max-width: 769px) {
  .first_col,
  .second_col {
    margin: 10px 5px;
    width: 100%;
  }
}

.car-make,
.car-model,
.car-engine,
.partno,
.replacepartno {
  margin-top: 15px;
}

button.search-btn {
  background-color: red;
  border: 0px;
  color: #fff;
  margin-top: 10px;
  padding: 10px 20px;
  float: right;
}

@media screen and (max-width: 700px) {
  select,
  input {
    width: 95%;
  }
}

.hidden {
  display: none;
}

.message {
  margin-top: 20px;
  text-align: center;
}
